html, body, #objectContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
}

#objectContainer {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.objectLink {
  padding-left: 24px;
  padding-right: 24px;
}

a {
  color: black;
}

.imgContainer {
  text-align: center;
  width: 60%;
  height: 100%;
  float:right;
  img {
    max-width: 100%;
    max-height: 75vh;
    //box-shadow: 5px 0px 25px grey;
  }
}

.captionContainer {
  width: 40%;
  float:left;
  height: 100%;
  text-align: left;
  font-size: 2rem;

  p {
    margin: 0;
  }
  p:not(.topLine) {
    line-height: 1rem;
  }
  .title {
    color: black;
    font-weight: 300;
  }
  .date {
    color: #7a7a7a;
  }
  .artist,
  .nationality {
    font-size: 1rem;
  }

  .artist {
    font-weight: 400;
  }
  .nationality {
    font-weight: 300;
  }

  .sourceLink {
    font-size: 1rem;
    color: red;
    text-decoration: underline;
    word-wrap: break-word;
  }

  .objectDescriptionContainer,
  .sourceLinkContainer,
  .descriptionContainer {
    margin-top:24px;
  }

  .objectDescription {
    font-size: 1rem;
    a {
      color: red;
    }
  }

  .description {
    font-size: .8rem;
    line-height: .65rem;
    color: #7a7a7a;
    a {
      color: red;
    }
  }

}